:host {
  display: block;
  padding-top: 88px;
}

@media (max-width: 768px) {
  :host {
    padding-top: 100px;
  }
}

app-pricing,
app-items,
app-priorites,
app-about,
app-rate,
app-delivery-footer {
  content-visibility: auto;
  contain-intrinsic-size: 700px;
}

