*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    background: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;

}